    <!-- Navegación entre calculadoras -->
    <nav class="nav-calculadoras" aria-label="Calculadoras disponibles">
      <a href="/" class="nav-link {{#active_sueldo}}active{{/active_sueldo}}">Sueldo</a>
      <a href="/calculadora-dca/" class="nav-link {{#active_dca}}active{{/active_dca}}">DCA</a>
      <a href="/conversor/" class="nav-link {{#active_conversor}}active{{/active_conversor}}">Conversor</a>
      <a href="/si-hubiera-comprado/" class="nav-link {{#active_hubiera}}active{{/active_hubiera}}">Si hubiera...</a>
      <a href="/calculadora-impuestos/" class="nav-link {{#active_impuestos}}active{{/active_impuestos}}">Impuestos</a>
      <a href="/calculadora-fees/" class="nav-link {{#active_fees}}active{{/active_fees}}">Fees</a>
      <a href="/comparador-exchanges/" class="nav-link {{#active_exchanges}}active{{/active_exchanges}}">Exchanges</a>
      <a href="/calculadora-herencia/" class="nav-link {{#active_herencia}}active{{/active_herencia}}">Herencia</a>
      <a href="/blog/" class="nav-link {{#active_blog}}active{{/active_blog}}">Blog</a>
    </nav>
